// 메인페이지
.main-page .sec:first-child .sec-tit {margin-top: 0;}


// 기념일
.ezday-sec .tab-head {display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;}
.ezday-sec .tab-head .tab-area .tab {font-size: 18px; color: $lightblack_color;}
.ezday-sec .tab-head .tab-area .tab ~ .tab {margin-left: 10px;}
.ezday-sec .tab-head .tab-area .tab.on {font-weight: 700; color:$black_color;}
.ezday-sec .tab-head .more-btn {font-size: 14px; color: $black_color;}
.ezday-sec .daySwiper {height: 120px;}
.ezday-sec .daySwiper .swiper-slide {justify-content: center; width: auto !important;}
.ezday-sec .daySwiper .swiper-slide ~ .swiper-slide {margin-left: 10px;}
.ezday-sec .daySwiper .swiper-slide .img-box {width: 60px; height: 60px; border-radius: 8px; overflow: hidden;}
.ezday-sec .daySwiper .swiper-slide .img-box img {width: 100%; height: 100%; object-fit: cover;}
.ezday-sec .daySwiper .swiper-slide .txt-box .name {margin: 10px 0 4px; text-align: center;}
.ezday-sec .daySwiper .swiper-slide .txt-box .day  {width: 20px; height: 18px; margin: 0 auto; font-size: 12px; text-align: center; color: #fff; border-radius: 5px; background: $point_color;}
.ezday-sec .daySwiper .swiper-slide .txt-box .birthday {font-size: 13px; color: $point_color;}
// 모달
.day-mwrap:last-of-type {margin-top: 60px;}
.day-mwrap .mwrap-tit {font-size: 14px; font-weight: 500; color: $black_color;}
.day-mwrap .days-list .days-item {padding: 20px 0 20px; border-bottom: 1px solid #eee;}
.day-mwrap .days-list .days-item .date {font-size: 15px; color: $mediumblack_color; opacity: .4;}
.day-mwrap .days-list .days-item .users-list {display: flex; flex-wrap: wrap;}
.day-mwrap .days-list .days-item .users-list .users-item {display: flex; align-items: center; padding: 20px 20px 0 0;}
.day-mwrap .days-list .days-item .users-list .users-item .img-box {width: 40px; height: 40px; margin-right: 16px; border-radius: 8px; overflow: hidden;}
.day-mwrap .days-list .days-item .users-list .users-item .img-box img {width: 100%; height: 100%; object-fit: cover;}
.day-mwrap .days-list .days-item .users-list .users-item .txt-box .name {margin-bottom: 20px; color: $black_color;}
.day-mwrap .days-list .days-item .users-list .users-item .txt-box .position {font-size: 14px; color: $mediumblack_color; opacity: .4;}


// 이지스토리
.ezstory-sec .ezSwiper .swiper-slide {height: 250px; background: #f3f4f7; cursor: pointer;}
.ezstory-sec .ezSwiper .swiper-slide a {position: relative; display: inline-block; width: 100%; height: 100%;}
.ezstory-sec .ezSwiper .swiper-slide a .img-box {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.ezstory-sec .ezSwiper .swiper-slide a .img-box img {width: 100%; height: 100%; object-fit: cover;}
.ezstory-sec .ezSwiper .swiper-slide a .img-box::after {content: ""; position: absolute; left: 0; bottom: 0; width: 100%; height: 70%; background: linear-gradient(to bottom, transparent, $black_color); opacity: .8;}
.ezstory-sec .ezSwiper .swiper-slide a .tit {position: absolute; bottom: 20px; left: 20px; font-size: 18px; font-weight: 700; color: #fff;}
.ezstory-sec .ezSwiper {padding-bottom: 30px;}
.ezstory-sec .ezSwiper .swiper-pagination {bottom: 0;}
.ezstory-sec .ezSwiper .swiper-pagination .swiper-pagination-bullet  {border-radius: 8px; background: $lightblack_color; transition: width .3s;}
.ezstory-sec .ezSwiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active  {width: 30px; background: $point_color;}


// 신규 입사자
.newuser-sec .newSwiper {padding-bottom: 3px;}
.newuser-sec .newSwiper .swiper-slide {padding: 50px 20px 24px; border: 1px solid $gray_color; background: #fff; box-shadow: 0px 3px 4px -2px rgba(0, 0, 0, .1);}
.newuser-sec .newSwiper .swiper-slide .name {font-size: 24px; font-weight: 700; color: $black_color;}
.newuser-sec .newSwiper .swiper-slide .info {margin: 20px 0; font-size: 18px; color: $black_color;}
.newuser-sec .newSwiper .swiper-slide .contact {font-size: 11px; color: $black_color;}
.newuser-sec .newSwiper .swiper-slide .addr {margin: 8px 0; font-size: 11px; color: $black_color;}
.newuser-sec .newSwiper .swiper-slide .phone {font-size: 11px; color: $black_color;}
.newuser-sec .newSwiper .swiper-slide .url {font-size: 11px; color: $black_color;}


// 게시판
.board-sec .tab-area {margin-bottom: 20px;}
.board-sec .tab-area .boardTabSwiper .swiper-slide {width: auto;}
.board-sec .tab-area .boardTabSwiper .swiper-slide a {font-size: 18px; color: $lightblack_color;}
.board-sec .tab-area .boardTabSwiper .swiper-slide.on a {font-weight: 700; color: $black_color;}
.board-sec .board-area .board {display: flex; width: 100%; padding: 20px 0; box-sizing: border-box; border-bottom: 1px solid $gray_color;}
.board-sec .board-area .board:nth-child(1) {padding-top: 0;}
.board-sec .board-area .board .img-box {margin-right: 20px;}
.board-sec .board-area .board .img-box .img {width: 50px; height: 50px; margin-bottom: 10px; overflow: hidden; border-radius: 50%; background: $gray_color;}
.board-sec .board-area .board .img-box .img img {width: 100%; height: 100%; overflow: cover;}
.board-sec .board-area .board .txt-box {display: flex; flex-direction: column; justify-content: space-between;}
.board-sec .board-area .board .txt-box .tit {font-weight: 700; color: $black_color;}
.board-sec .board-area .board .txt-box .txt {display: flex; align-items: center;}
.board-sec .board-area .board .txt-box .txt p {color: $mediumblack_color;}
.board-sec .board-area .board .txt-box .txt p ~ p {margin-left: 10px;}
.board-sec .board-area .board .txt-box .txt p i {position: relative; top: -1px; margin-right: 4px; font-size: 12px;}
.board-sec .board-area .board .txt-box .txt .like i {color: $red_color;}
.board-sec .board-area .board .txt-box .txt .date {font-size: 12px;}
.board-sec .no-board {padding: 50px 0; border: 1px solid $gray_color;}
.board-sec .no-board .txt {text-align: center;}


// 회의실
.meeting-sec .meeting-total {display: flex;}
.meeting-sec .meeting-total li {flex: 1; text-align: center;}
.meeting-sec .meeting-total li .tit {font-size: 18px; font-weight: 500; color: $black_color;}
.meeting-sec .meeting-total li .txt {font-size: 20px; font-weight: 500; color: $black_color;}
.meeting-sec .meeting-list li {display: flex; align-items: center; justify-content: space-between; padding: 12px 0; border-bottom: 1px solid #eee;}
.meeting-sec .meeting-list li .roomname {width: 25%; font-weight: 500; color: $black_color; text-align: center;}
.meeting-sec .meeting-list li .bar-box {width: 50%;}
.meeting-sec .meeting-list li .bar-box .roomtime {text-align: center;}
.meeting-sec .meeting-list li .bar-box .roomtime span {font-size: 13px; font-weight: 500; color: $black_color;}
.meeting-sec .meeting-list li .bar-box .bar-wrap {position: relative; width: 100%; height: 5px; margin: 5px 0; border: 1px solid $point_color; border-radius: 5px; overflow: hidden;}
.meeting-sec .meeting-list li .bar-box .bar-wrap .bar {position: absolute; top: 0; left: 0; bottom: 0; width: 100%; height: 100%; background: $point_color;}
.meeting-sec .meeting-list li .profile {width: 25%; text-align: center;}
.meeting-sec .meeting-list li .profile .img-box {width: 30px; height: 30px; margin: 0 auto; border-radius: 50%; overflow: hidden;}
.meeting-sec .meeting-list li .profile .img-box img {width: 100%; height: 100%; object-fit: cover;}
.meeting-sec .meeting-list li .profile .name {margin-top: 5px; font-size: 12px; font-weight: 500; color: $black_color;}



// 미팅일정
.meetingsch-sec .sch-list {}
.meetingsch-sec .sch-list > li ~ li {margin-top: 20px;}
.meetingsch-sec .sch-list li .tit {font-size: 18px; font-weight: 500; color: $black_color;}
.meetingsch-sec .sch-list li .tit span {margin-left: 4px;}
.meetingsch-sec .sch-list li .cont {display: flex; justify-content: space-between; align-items: flex-start; margin-top: 18px;}
.meetingsch-sec .sch-list li .cont .users {display: flex;}
.meetingsch-sec .sch-list li .cont .users .user ~ .user {margin-left: 10px;}
.meetingsch-sec .sch-list li .cont .users .user .img-box {width: 30px; height: 30px; border-radius: 50%; overflow: hidden;}
.meetingsch-sec .sch-list li .cont .users .user .img-box img {width: 100%; height: 100%; object-fit: cover;}
.meetingsch-sec .sch-list li .cont .users .user .name {margin-top: 8px; font-size: 12px; font-weight: 500; color: $black_color;}
.meetingsch-sec .sch-list li .cont .time {padding: 2px 6px; font-size: 12px; color: #fff; border-radius: 5px; background: orange;}