@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  width: 100%;
}

button {
  border: none;
  cursor: pointer;
}

a {
  color: #000;
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  height: 60px;
  margin-bottom: 10px;
}

.header .logo {
  width: 80px;
  height: 34px;
}

.header .logo img {
  width: 100%;
}

.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 64px;
  display: flex;
  border-top: 1px solid #eee;
}

.nav .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  color: #333;
}

.nav .menu i {
  font-size: 20px;
}

.nav .menu span {
  display: none;
  margin-top: 4px;
  font-size: 14px;
}

.nav .menu.router-link-active {
  color: #44b6ae;
}

.nav .menu.router-link-active span {
  display: block;
}

.login-page {
  padding: 60px 30px 0;
}

.login-page .logo {
  width: 120px;
  margin: 0 auto 30px;
}

.login-page .logo img {
  width: 100%;
}

.login-form .form .input-box.id-input {
  margin-bottom: 40px;
}

.ezstory-sec .swiper-container.ezSwiper .swiper-wrapper .swiper-slide {
  height: 250px;
  background: #f3f4f7;
  cursor: pointer;
}

.ezstory-sec .swiper-container.ezSwiper .swiper-wrapper .swiper-slide a {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.ezstory-sec .swiper-container.ezSwiper .swiper-wrapper .swiper-slide a .img-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ezstory-sec .swiper-container.ezSwiper .swiper-wrapper .swiper-slide a .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ezstory-sec .swiper-container.ezSwiper .swiper-wrapper .swiper-slide a .img-box::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70%;
  background: linear-gradient(to bottom, transparent, #000);
  opacity: 0.8;
}

.ezstory-sec .swiper-container.ezSwiper .swiper-wrapper .swiper-slide a .tit {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.ezstory-sec .swiper-container.ezSwiper {
  padding-bottom: 30px;
}

.ezstory-sec .swiper-container.ezSwiper .swiper-pagination {
  bottom: 0;
}

.ezstory-sec .swiper-container.ezSwiper .swiper-pagination .swiper-pagination-bullet {
  border-radius: 8px;
  background: #666;
  transition: width 0.3s;
}

.ezstory-sec .swiper-container.ezSwiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 30px;
  background: #44b6ae;
}

.board-sec .tab-area .swiper-container.boardTabSwiper .swiper-slide {
  width: auto;
}

.board-sec .tab-area .swiper-container.boardTabSwiper .swiper-slide a {
  font-size: 18px;
  color: #666;
}

.board-sec .tab-area .swiper-container.boardTabSwiper .swiper-slide.on a {
  color: #000;
}

.board-sec .board-area {
  border: 1px solid green;
}

.board-sec .board-area .board {
  border: 1px solid red;
}

.board-sec .board-area .board {
  display: flex;
  width: 100%;
  height: 128px;
  padding: 20px 0;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
}

.board-sec .board-area .board .img-box {
  margin-right: 20px;
  border: 1px solid pink;
}

.board-sec .board-area .board .img-box .img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  background: #eee;
}

.board-sec .board-area .board .img-box .img img {
  width: 100%;
  height: 100%;
  overflow: cover;
}

.board-sec .board-area .board .txt-box {
  border: 1px solid gray;
}

.board-sec .board-area .board .txt-box .txt {
  display: flex;
}

.board-sec .board-area .board .txt-box .txt p ~ p {
  margin-left: 10px;
}

* {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}

#app {
  width: 90%;
  margin: 0 auto;
}

.form .input-box {
  position: relative;
}

.form .input-box label {
  font-weight: 500;
  color: #333;
}

.form .input-box input {
  margin-top: 10px;
  padding: 0 10px;
  height: 40px;
  color: #000;
  border: 1px solid #eee;
  border-radius: 2px;
}

.form .input-box input:focus {
  border: 1px solid #44b6ae;
  outline: none;
}

.form .input-box input::-moz-placeholder {
  font-size: 12px;
  font-weight: 300;
  color: #666;
}

.form .input-box input::placeholder {
  font-size: 12px;
  font-weight: 300;
  color: #666;
}

.btn {
  width: 100%;
  height: 54px;
  margin-top: 30px;
  font-weight: 500;
  color: #fff;
  border-radius: 4px;
  background: #44b6ae;
}

.error.posi {
  position: absolute;
  bottom: -20px;
}

.error {
  margin-top: 10px;
  font-size: 12px;
  color: red;
}

.sec-tit {
  position: relative;
  padding-left: 14px;
  margin: 40px 0 20px;
  font-size: 22px;
  font-weight: 700;
  color: #000;
}

.sec-tit::before {
  content: "";
  position: absolute;
  left: 0;
  top: calc(50% + 2px);
  transform: translateY(-50%);
  width: 6px;
  height: 24px;
  border-radius: 2px;
  background: #44b6ae;
}/*# sourceMappingURL=common.css.map */